* {
    font-family: 'Playfair Display', serif;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    min-width: 320px;
    background-color:#5B5A60;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%; 
    /* border-bottom: 2px solid black; */
    background-color: #E7EBEF;
    width: 100vw;
}

button {
    background-color: #D3D5D7;
    border: none;
}

button:hover {
    background-color: #81938F;
}

h1 {
    font-size: 1.5em;
    justify-content: center;
}

h2 {
    font-size-adjust: 90%;
    justify-content: center;
}

h3 {
    font-size-adjust: 90%;
    justify-content: center;
}

h4 {
    font-size-adjust: 90%;
    justify-content: center;
}

h5 {
    font-size-adjust: 90%;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 40px;
    }

    h2, h3, h4, h5, h6{
        font-size-adjust: 90%
    }
}

h6 {
    font-size-adjust: 90%;
    justify-content: center;
}

p {
    font-size: .8em;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #5E6061
}

.center {
    display: flex;
    justify-content: center;
}

.header {
    max-width: 100vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

/* Hope page: not logged in */
.home {
    min-width: 320px;
    background-color:#5B5A60;
    margin: 0px;
    box-sizing: border-box;
}

.overlap {
    position:relative;
    bottom: 10vw;
    left: 10vw;
    background-color: #E7EBEF;
    /* border: 2px solid #5B5A60;
    border-radius: 10px; */
    margin-right: 55vw;
    padding: 0 1vh 2vh 1vh;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.block2 {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: -5vh 0 20vh 50vw;
    /* margin-left: 50vw; */
    justify-content: space-around;
    background-color:#5B5A60;
}

#login, #register  {
    
    display: flex;
    justify-content: center;
}

#toggle_login, #toggle_register {
    /* margin-top: 1.5vh; */
    background-color: #D3D5D7;
    padding-bottom: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    max-height: 110px;
}

#toggle_login:hover, #toggle_register:hover {
    background-color: #85838c
} 

#hidden, #hidden2 {
    display: none;
    /* padding-top: 10vh; */
    /* margin-bottom: 10vh */
    margin-bottom: -15vh;
    padding: 2vw;
    margin: 2vw;
    background-color: #E7EBEF;
}

#over_image {
    position: relative;
    bottom: 21vh;
    padding-left: 5vw;
    height: 0px;
}

.block3 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    width: 100vw;
    margin-top: -5%;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.block3::-webkit-scrollbar {
    display: none;
}

.three {
    padding: 2vw;
    width: 34vw;
    background-color: #a897a8;

}

.donate_button {
    background-color: #5b525b;
    color: #EFF1F6;
    padding: 5px;
    display: flex;
    justify-self: center;
}

.donate_button:hover {
    background-color: #877a87;
    color: #3a343a
}



/* Home page: logged in as recipient */
.logged_body {
    min-width: 320px;
    background-color:#A3B5C8;
    margin: 0px;
    /* box-sizing: border-box; */
    /* max-height: 900px; */
    width: 100vw;
}

.recipient_block_1 {
    position: relative;
    z-index: 0
}

.qr-block {
    display: flex;
    justify-content: center;
    background-color: #FEE6BA;
    padding: 5vh 5vw 5vh 10vw;
    z-index: 0
}

.logged_overlap {
    position:absolute;
    top: -4vh;
    left: 15vw;
    color: #d7dadd;
    text-decoration: bold;
    /* background-color: #E7EBEF; */
    /* border: 2px solid #5B5A60;
    border-radius: 10px; */
    /* max-height: 30vh; */
    width: 40vw;
    padding: 0 1vh 0 1vh;
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-color: #5969A5;
}

.logged_body_recipient {
    min-width: 320px;
    background-color:#A3B5C8;
    margin: 0px;
    box-sizing: border-box;
    max-height: 900px;
}

.block {
    position: relative;
    /* bottom: 13vh; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 2vw; */
    /* max-height: 31.5vh; */
    /* overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; */
    background-color: #E7EBEF;
    z-index: 100;
}

.block::-webkit-scrollbar {
    display: none;
}

.recipient_header {
    max-width: 100vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
    z-index: -1;
}

.footer {
    position: relative;
    /* bottom: -13vh; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #E7EBEF;
}


/* home page: logged in as donor */
.logged_body_donor {
    min-width: 320px;
    background-color:#A3B5C8;
    margin: 0px;
    box-sizing: border-box;
    /* max-height: 900px; */
    width: 100%;
}

.donor_top {
    position: relative;
    background-color:#A3B5C8
}
.donation_overlap {
    position:relative;
    bottom: 10vw;
    left: 60vw;
    background-color: #E7EBEF;
    /* border: 2px solid #5B5A60;
    border-radius: 10px; */
    margin-right: 65vw;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

#donation_choice_edit:hover {
    color: #5E6061
}

.donor_block_3 {
    position: relative;
    top: -33vh;
    display: flex;
    flex-direction: column;
    padding-left: 3vw;
    /* margin: 2vw; */
    max-height: 40vh;
    width: 100vw;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.donor_block_3::-webkit-scrollbar {
    display: none;
}

.donor_header {
    position: relative;
    bottom: 20vh;
    width: 100vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.donor_block_4 {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    width: 100%;
    margin-top: -25%;
    /* margin: 2vw; */
    /* max-height: 31.5vh; */
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
    padding-bottom: 2vh;
    background-color: #baaea0;
    /* background-color: #A19B93; */

}

.donor_block_4::-webkit-scrollbar {
    display: none;
}

.oneb, .twob, .threeb {
    padding: 2vw;
    width: 34%;
    background-color: #baaea0;
    display: flex;
    flex-direction: column;
    min-height: 300px;
}

.donate {
    display: flex;
    justify-items: center;
    margin-left: 11vw;
    margin-right: 11vw;
    margin-bottom: 1vh;
    padding: 5px;
    padding-left: 8px;
    background-color: #E7EBEF;
    position: absolute;
    bottom: 1vh;
}

.donate:hover {
    background-color: #cec2b3;
    color: black;
}

.donor_footer {
    position: relative;
    /* top: 58vh; */
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: #E7EBEF;
    min-height: 25px;
}

@media screen and (max-width: 471px) and (min-width: 320px){
    .body {
        max-height: 700px;
    }

    /* not logged in home */
    
    .block2 {
        margin: -10vh 10vw 20vh 20vw
    }

    #login, #register {
        position: relative;
        top: 10vh;
        padding-bottom: 0;
        background-color: #D3D5D7;
        margin-left: -10vw;
        max-height: 60px;
    }

    /* logged in recipient home */
    .recipient_header {
        max-width: 150vw;
    }

    /* logged in donor home */
    .logged_body_donor {
        min-width: 320px;
        max-height: 700px;
    }
    .donation_overlap {
        position:relative;
        bottom: 10vw;
        left: 60vw;
        margin-right: 50vw;
        padding: 1vh;
    }
    .donor_block_3 {
        position: relative;
        top: -35vh;
        display: flex;
        flex-direction: column;
        /* margin: 2vw; */
        max-height: 30vh;
        width: 100vw;
    }
    .donor_header {
        position: relative;
        bottom: 30vh;
        width: 200vw;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .donor_block_4 {
        position: relative;
        bottom: 21vh;
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        width: 100%;
        margin-top: -25%;
        /* margin: 2vw; */
        /* max-height: 31.5vh; */
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: 100%;
        padding-bottom: 2vh;
        background-color: #baaea0;
        /* background-color: #A19B93; */
    }
    .oneb, .twob {
        padding: 2vw;
        padding-left: 4vw;
        width: 50%;
        min-height: 300px;
    }

    .threeb {
        display: none;
    }
    .donor_footer {
        position: relative;
        bottom: 21vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        background-color: #E7EBEF;
        min-height: 25px;
    }
}

@media screen and (max-width: 767px) and (min-width: 472px){
    .body {
        max-height: 700px;
    }

    #login, #register {
        padding-bottom: 1vh;
        background-color: #D3D5D7;
        max-height: 50px;
    }

    .logged_body_donor {
        min-width: 320px;
        max-height: 700px;
    }
    .donation_overlap {
        position:relative;
        bottom: 10vw;
        left: 60vw;
        margin-right: 52vw;
        padding: 1vh;
    }
    .donor_block_3 {
        position: relative;
        top: -33vh;
        display: flex;
        flex-direction: column;
        /* margin: 2vw; */
        max-height: 30vh;
        width: 100vw;
    }
    .donor_header {
        position: relative;
        bottom: 30vh;
        width: 200vw;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .donor_block_4 {
        position: relative;
        bottom: 21vh;
        display: flex;
        flex-direction: row;
        justify-self: flex-start;
        width: 100%;
        margin-top: -25%;
        /* margin: 2vw; */
        /* max-height: 31.5vh; */
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: 100%;
        padding-bottom: 2vh;
        background-color: #baaea0;
        /* background-color: #A19B93; */
    }
    .oneb, .twob {
        padding: 2vw;
        padding-left: 4vw;
        width: 50%;
        min-height: 300px;
    }

    .threeb {
        display: none;
    }
    .donor_footer {
        position: relative;
        bottom: 21vh;
        padding-top: 5vh;
        padding-bottom: 5vh;
        background-color: #E7EBEF;
        min-height: 25px;
    }

    .donate {
        position: absolute;
        bottom: 1vh;
        margin-left: 13vw;
        margin-right: 18vw;
        margin-bottom: 1vh;
        padding: 5px;
        padding-left: 8px;
    }
}


.long_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw;
}
.half {
    max-width: 50vw;
}

.left_block_1 {
    box-sizing: border-box;
    width: 50%;
    padding-left: 10vw;
    padding-top: 10vh;
}

.right_block_1 {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-self: center;
    padding-left: 35%;
    flex-direction: column;
    padding-bottom: 2vh;
    background-color: #A3B5C8;
}

.left_block_2 {
    box-sizing: border-box;
    width: 50%;
}

.left_block_text {
    box-sizing: border-box;
    width: 50%;
    padding-left: 10%;
    padding-top: 10%;
    padding-right: 5%;
}



.right {
    padding: 5vh 0 5vh 10vw;
}

.logged_block_2 {
    /* height: 20vh; */
    position: relative;
    padding: 10vh 30vw 8vh 30vw;
    display: flex;
    flex-direction: column;
    background-color: #FFE9B9;
}









/* ul {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

ul::-webkit-scrollbar {
    display: none;
} */

.text-left {
    margin-left: 5%;
}

.text-right{
    margin-top: 2%;
    margin-left: 5%;
}

.right {
    width: 50%;
}

.image-right {
    display: flex;
    justify-content: flex-end;
}

.image-left {
    display: flex;
    justify-content: flex-start;
}












.small {
    font-size: 1em;
}


#edit {
    display: flex;
}

#delete {
    display: flex;
}

#profile {
    display: flex
}

#learn {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 14vw;
    background-color: #D3D5D7
}
#learn:hover {
    background-color: #81938F;
}


/* ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

li {
    list-style-type: none;
}

.form_input {
    
}

.form {
    display: flex;
    justify-content: center;
}
/* Payment page */

.payment_body {
    background-color: #F1E9EE;
}

.payment_overlay {
    position:relative;
    bottom: 35vw;
    left: 10vw;
    background-color: #F1E9EE;
    /* border: 2px solid #5B5A60;
    border-radius: 10px; */
    margin-right: 55vw;
    padding: 0 1vh 2vh 1vh;
    display: flex;
    flex-direction: column;
}

.donation_options {
    display: flex;
    flex-direction: row;
    padding-right: 5vw;
}

.donation_button {
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    background-color: #202E5E;
    color: #E7EBEF;
}

.payment_header {
    max-width: 100vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


/* About page */
.about {
    background-color: #787568;
}

#about_text {
    padding: 0 4vw 4vh 4vw;
    color: #F2E6D5
}