* {
    font-family: 'Playfair Display', serif;;
}

h1 {
    font-size: 1.5em;
    justify-content: center;
}

h2 {
    font-size-adjust: 90%;
    justify-content: center;
}

h3 {
    font-size-adjust: 90%;
    justify-content: center;
}

h4 {
    font-size-adjust: 90%;
    margin-top: 0px; 
    justify-content: center;
}
h5 {
    font-size-adjust: 90%;
    justify-content: center;
}

h6 {
    font-size-adjust: 90%;
    justify-content: center;
}

p {
    font-size: .8em;
}

body {
    min-width: 320px;
    background-color: #
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 1%; 
    border-bottom: 2px solid black;
}

a {
    text-decoration: none;
}

a:hover {

}

#hidden {
    display: none;
    padding-top: 10vh;
    margin-bottom: 10vh
}

#hidden2 {
    display: none;
}

.block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw;
    max-height: 31.5vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.block::-webkit-scrollbar {
    display: none;
}

.long_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2vw;
}
.half {
    max-width: 45vw;
}

.left {
    width: 50vw;
}

.right {
    width: 50vw;
}

.center {
    display: flex;
    justify-content: center;
}

.one {
    margin: .5vw;
    border: 1px solid black;
    border-radius: 5px;
    padding: .5vw;
    width: 30vw
}

.two {
    margin: .5vw;
    border: 1px solid black;
    border-radius: 5px;
    padding: .5vw;
    width: 30vw
}

.three {
    margin: .5vw;
    border: 1px solid black;
    border-radius: 5px;
    padding: .5vw;
    width: 30vw
}

.small {
    font-size: .8em;
}


#edit {
    display: flex;
}

#delete {
    display: flex;
}

#profile {
    display: flex
}

#login, #register {
    padding-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
}

#login_back {
    justify-content: flex-end;
    align-items: flex-end;
}
/* ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

li {
    list-style-type: none;
}

.form_input {
    
}

.form {
    display: flex;
    justify-content: center;
}
