{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/style.css'%}">
        <script src="{% static 'scripts/app.js' %}" async defer></script>
    </head>
    <body>
        {% block nav %}
            <nav>
                {% if not user.is_authenticated %}
                    {% comment %} <span><a href="{% url 'login' %}">Login</a></span> {% endcomment %}
                    {% comment %} <span><a href="{% url 'signup' %}">SignUp</a></span> {% endcomment %}
                {% endif %}
                {% if user.is_authenticated %}
                <span><a href="{% url 'logged_home' %}">Home</a></span>    
                <span><a href="{% url 'profile' user%}">Profile</a></span>
                    <span><a href="{% url 'logout' %}">Logout</a></span>
                    
                {% endif %}
                <a href="/admin">Admin</a>
                
            </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}
        
    </body>
</html>