{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/style.css'%}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{% static 'scripts/app.js' %}" async defer></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Playfair+Display&display=swap" rel="stylesheet">  
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js" integrity="sha512-vDKWohFHe2vkVWXHp3tKvIxxXg0pJxeid5eo+UjdjME3DBFBn2F8yWOE0XmiFcFbXxrEOR1JriWEno5Ckpn15A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    </head>
    <body>
        {% block nav %}
            <nav>
                <h4>sQuaRe change</h4>
                {% if not user.is_authenticated %}
                    {% comment %} <span><a href="{% url 'login' %}">Login</a></span> {% endcomment %}
                    {% comment %} <span><a href="{% url 'signup' %}">SignUp</a></span> {% endcomment %}
                {% endif %}
                {% if user.is_authenticated %}
                <span><a href="{% url 'logged_home' %}">Home</a></span>    
                {% comment %} <span><a href="{% url 'profile' user%}">Profile</a></span> {% endcomment %}
                    <span><a href="{% url 'logout' %}">Logout</a></span>
                    
                {% endif %}

                
            </nav>
        {% endblock %}

        {% block content %}
        {% endblock %}
        


</html>