{% extends 'base.html' %}
{% load static %}

{% block content %}
<div id="donate_update">
    <img class="update_header" src="{% static 'imgs/shutterstock_621138047.jpg' %}" >
    <div id="update_form">
        <h1 class="title"> Update your donation options {{donor.name}} </h1>
        <div class="form">
            <form action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input id="edit_donations_submit" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

{% endblock %}