{% extends 'base.html' %}
{% load static %}


{% block title %}
sQuaRe change
{% endblock %}

{% block content %}
<div class="home">
    <div>
        <img class="header" src="{% static 'imgs/shutterstock_739769911.jpg' %}" >
    </div>
    <div class="overlap">
        <h1>sQuaRe change</h1>
        <h4>No cash? No problem. Using microtransactions to make a difference.</h4>
        <a href="{% url 'about' %}"><button id="learn">Learn More</button></a>
    </div>

    {% if not user.is_authenticated %}
    <div class="block2">
            <div>
                <div id="login">
                    <button id="toggle_login"><h1>Login</h1></button>
                </div>
                <div id="hidden">
                    <form method="POST" action=".">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="Login">
                    </form>
                </div>
            </div>
            <div class="center">
                <div id="register">
                    <button id="toggle_register"><h1>Register</h1></button>
                </div>
                <div id="hidden2">
                    <form method="post">
                        {% csrf_token %}
                        {{form_register.as_p}}
                        <button type="submit" value="register">Sign Up</button>
                    </form>
                </div>
            </div>
    </div>
    {% elif user.is_authenticated %}
    <div class="block2">
        <div class="center">
            <div id="login">
                <a href="{% url 'logged_home'%}"><button id="home"><h1>Home</h1></button></a>
            </div>
        </div>
    </div>
    {% endif %}

    <img class="header2" src="{% static 'imgs/shutterstock_1145004488.jpg' %}" >
    <div id="over_image">
        <div>
        <h1>Making a difference</h1>
        </div>
        <div class>
        <h3>Spotlight features: lend a helping hand</h3>
        </div>
    </div>
    <div class="block3">  
        <div class="three">
            <h5 class="center">{{random_user.name}}'s story:</h5>
            <p>{{random_recipient.bio}}</p>
            <button class="donate_button"><a href="{% url 'payment' random_user.user %}">Donate</button></a>
        </div>
        <div class="three">
            <h5 class="center">{{random_user_2.name}}'s story:</h5>
            <p>{{random_recipient_2.bio}}</p>
            <button class="donate_button"><a href=" {% url 'payment' random_user_2.user %}">Donate</button></a>
        </div>
        <div class="three">
            <h5 class="center">{{random_user_3.name}}'s story:</h5>
            <p>{{random_recipient_3.bio}}</p>
            <button class="donate_button"><a href=" {% url 'payment' random_user_3.user %}">Donate</button></a>
        </div>
    </div>
</div>


</body>
{% endblock %}