{% extends 'base.html'%}
{% load static %}


{% block title %}
Previous Donations
{% endblock %}

{% block script %}
<script src="{% static 'scripts/print_pdf.js' %}" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.1/html2pdf.bundle.min.js" integrity="sha512-vDKWohFHe2vkVWXHp3tKvIxxXg0pJxeid5eo+UjdjME3DBFBn2F8yWOE0XmiFcFbXxrEOR1JriWEno5Ckpn15A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block content %}
<div id="donations">
    <div class="previous_donations">
    <img class="header" src="{% static 'imgs/shutterstock_739769911.jpg' %}" >
    <div class='donations'>
        <h3>Receipt: verified donations made through sQuaRe change</h3>
        <button id="print">Print to PDF</button>
        <ul>
        {% for transaction in transactions%}
            <li>${{transaction.value}} donated on {{transaction.created_at}}</li>
        {% endfor %}
        </ul>
        

    </div>
</div>

{% endblock%}