{% extends 'base.html' %}

{% block title%}
Profile
{% endblock %}

{% block content %}
<h1>Profile</h1>
{% for stat in status %}
    <h2>{{stat.name}}</h2>
    <h4>Status: {{ stat.type_user }}</h4>
    {% if stat.type_user == 'Recipient'%}
        <h4>QR code:</h4>
        {% comment %} put final url into encoder. replace '127.0.0.1%3A8000%2F' with encoded url : https://www.albionresearch.com/tools/urlencode {% endcomment %}
        <a href="/user/{{username}}/payment"><img src="https://api.qrserver.com/v1/create-qr-code/?data=127.0.0.1%3A8000%2Fuser%2F{{username}}%2Fpayment=100x100"></a>
        
        
        <h4>Your account balance is {{account.value}}</h4>
        <h4>Donation History</h4>
        <ul>
            {% for transaction in transactions %}
                <li>${{transaction.value}} to {{transaction.recipient}}</li>
            {% endfor %}
        </ul>
        
    {% endif %}
    {% if stat.type_user == 'Donor' %}
        <h4>Your donation options are:</h4>
        {% for donor in donors %}
        <ul>
            <li>${{donor.donation_option_1}}</li>
            <li>${{donor.donation_option_2}}</li>
            <li>${{donor.donation_option_3}}</li>
        </ul>
        <a href="{% url 'donor_update' donor.pk %}">Edit donation options</a>
        {% endfor %}
        
        <h4>Previous Donations:</h4>
        <ul>
            {% for transaction in transactions %}
                <li>${{transaction.value}} to {{transaction.recipient}}</li>
            {% endfor %}
        </ul>
        <h3>Sometimes, people just need a helping hand.</h3>
            <h4>{{random_user_name}}'s story</h4>
            
            <p>{{random_user_bio}}</p>
    {% endif %}
    {% if stat.type_user == 'Store' %}
        <a href="/user/{{username}}/payment"><img src="https://api.qrserver.com/v1/create-qr-code/?data=127.0.0.1%3A8000%2Fuser%2F{{username}}%2Fpayment=100x100"></a>
    {% endif %}
    {% if stat.type_user == 'Helper'%}
        {% for item in helper %}
            {% if item.verified == True %}
                <h3>Register a new recipient</h3>
            {% endif %}
            {% if not item.verified == True %}
                <h3>Please wait for your status as a Helper to be verified</h3>
            {% endif %}
        {% endfor %}
    {% endif%}
{% endfor %}

{% endblock %}