{% extends 'base.html' %}

{% block title%}
Profile
{% endblock %}

{% block content %}
<h1>Profile</h1>
{% for stat in status %}
    <h2>Hi, {{stat.name}}</h2>
    <h4>You are a {{ stat.type_user }}</h4>
    {% if stat.type_user == 'Recipient'%}
        <h4>QR code:</h4>
        <img src="{{stat.qr_code}}" />
    {% endif %}
    {% if stat.type_user == 'Donor' %}
        <h4>Your donation options are:</h4>
        {% for item in donor %}
        <ul>
            <li>${{item.donation_option_1}}</li>
            <li>${{item.donation_option_2}}</li>
            <li>${{item.donation_option_3}}</li>
        </ul>
        {% endfor %}
    {% endif %}
    {% if stat.type_user == 'Store' %}
        {% for item in store %}
            ${{item.qr_code}}
        {% endfor %}
    {% endif %}
    {% if stat.type_user == 'Helper'%}
        {% for item in helper %}
            {% if item.verified == True %}
                <h3>Register a new recipient</h3>
            {% endif %}
            {% if not item.verified == True %}
                <h3>Please wait for your status as a Helper to be verified</h3>
            {% endif %}
        {% endfor %}
    {% endif%}
{% endfor %}

{% endblock %}