{% extends 'base.html' %}
{% load static %}


{% block title %}
Register
{% endblock %}

{% block content %}
<div class="block">
    <div class="left">
        <h1>sQuare change</h1>
        <p>No cash? No problem. Using microtransactions to make a difference.</p>
        <a href="{% url 'about' %}"><button>Learn More</button></a>
    </div>
    <div class="right">
        <img class="half" src="{% static 'imgs/1007039707-huge.jpg'%}" >
    </div>
</div>

<div class="block">
    <div class="left">
        <h2>I am registering as a:<h2>
        
    </div>
    <div class="right">
        <div class="form">
            <form method="post">
                {% comment %} {% csrf_token %} {% endcomment %}
                {{forms.as_p}}
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>

<div class="block">
    <div class="left">
        <img class="half" src="{% static 'imgs/1007039707-huge.jpg'%}" >
    </div>
    <div class="right">
        <h1>Making a difference</h1>
        <h4>Spotlight feature:lend a helping hand</h4>
        <button>Learn More</button>
    </div>
</div>

{% endblock %}