{% extends 'base.html' %}
{% load static %}


{% block title %}
Register
{% endblock %}

{% block content %}

<div class="block">
    <div class="left">
        <h2>Please register as a Donor, Recipient, Store, or Helper.</h2> <h3>Helpers can assist Recipients with signing up. At this time, Helpers must be verifiable employees or volunteers at homeless shelters or food banks. It can take up to 5 business days for Helpers to be verified.</h3>
        
    </div>
    <div class="right">
        <div class="form">
            <form method="post">
                {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</div>




<div class="block">
    <div class="left">
        <img class="half" src="{% static 'imgs/1007039707-huge.jpg'%}" >
    </div>
    <div class="right">
        <h1>Making a difference</h1>
        <h4>Spotlight feature:lend a helping hand</h4>
        <button>Learn More</button>
    </div>
</div>

{% endblock %}